fastapi
uvicorn
boto3
python-dotenv
psycopg2-binary
pydantic
openai==0.28
pydantic
httpx
ultralytics
python-dotenv
Pillow
opencv-python-headless
craft_text_detector
torch==1.12.1
torchvision==0.13.1
numpy<2
requests
python-multipart
transformers